<footer>
	<div class="container">
		<p class="pull-left alignable">{{ site.title }} &copy; <script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script></p>
		<p class="pull-right alignable"> 
			<a class="deactivate-link" href="{{ site.baseurl }}/about">About</a>
			| <a href="http://twitter.com/{{ site.twitter_username }}"><i class="icon-twitter"></i></a>
			<a href="http://github.com/{{ site.github_username }}"><i class="icon-github-circled"></i></a>
		</p>
		<div style="clear: both"></div>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.tracking_id }}', 'auto');
  ga('send', 'pageview');

	</script>
</footer>
