@charset "utf-8";
@import "vars";
@import "tables";
@import "syntax_highlighting";
@import "typography";
@import "icons";

/* Pretty Standard
 * * * * * * * * * * */
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
	height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
hr.gradient {
	border: 0;
    height: 1px;
	margin: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));  
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	overflow-x: hidden;
	font-family: $font-stack;
	color: $base-font-color;
	font-size: $base-font-size;
	font-weight: 400;
}

/* Images Hack
 * * * * * * * */
img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
	color: $base-highlight-color;
}
a:hover {
	color: $base-highlight-color;
	cursor: hand;
}

.post-date {
	font-style: italic;
	font-weight: 400;
}

p {
	font-size: $base-font-size;
	font-weight: lighter;
}

.post-time {
	font-style: italic;
	color: $git-black-color;
	font-weight: lighter;
	display: inline;
	@media (max-width: $break-small) {
		display: block;
	}
}
.post-name {
	font-size: $base-font-size / 1.1;
	display: inline;
	@media (max-width: $break-small) {
		display: block;
	}
}
.post-stub {
	display: inline;
	font-family: sans-serif;
	font-size: $base-font-size / 1.2;
}
.post-item {
	margin-bottom: 0;
	padding: $base-spacing;
	background-color: $well-color;
}

.post-list {
	ul {
		padding-left: 0.4em;
	}
	li {
		list-style-type: none;
		margin-left: 0em;
		// padding: 0em 1em 0em 1em;
	}
	background-color: $white-color;
}
.post-link {
	color: $git-black-color;
}

.intro {
	background-color: $git-black-color;
	margin-bottom: 0px;
	p {
		font-size: 25px;
		font-weight: lighter;
	}
	span {
		background-color: $white-color;
		font-weight: 400;
		color: $git-black-color;
		margin: 0em 0.2em 0em 0.2em;
		padding: 0em 0.2em 0em 0.2em;
	}
	@media (max-width: $break-small) {
		p {
			font-size: 20px;
		}
	}
	color: $white-color;
}

.logo {
	font-family: 'Lobster';
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-size: 40px;
	line-height: 28px;
	font-weight: 300;
	color: $dark-gray-color;
	span {
		font-weight: 700;
	}
}

.nav {
	min-height: 64px;
	border-bottom: thin solid $well-color;
	background-color: $well-color;
}

.navlist {
	list-style-type: none;
	text-transform: lowercase;
	color: $dark-gray-color;
	min-height: 64px;
	float: right;
	margin: 0;
	position: relative;
	padding: 0;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: $base-spacing;
}

.page-heading {
	margin-top: 0;
	font-weight: lighter;
	font-size: 30px;
}

footer {
	background-color: $well-color;
	box-shadow: 0px 500px 0px 500px $well-color;
	color: $git-black-color;
	.container p {
		font-weight: 400;
	}
}

#wrapper {
	min-height: 100%;
}
#main {
	overflow: auto;
}
#footer {
	position: relative;
	clear: both;
}

.alignable {
	display: inline-block;
	margin: 0;
}
.pull-left {
	@extend .alignable;
	float: left;
}
.pull-right {
	@extend .alignable;
	float: right;
}

.pagination {
	@extend .container;
	margin-bottom: 1em;
	display: block;
	div {
		width: 33%;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		width: 34%;
		text-align: right;
	}
}

.share-section {
	overflow: hidden;
	background-color: $well-color;
}

.about-footer {
	background-color: $well-color;  
}
.about-footer-div {
	text-align: center;
	h2 {
		font-size: $base-font-size * 1.1;  
	}
	p {
		text-style: italic;
		font-size: $base-font-size;  
	}
	img {
		max-width: $about-footer-img-size;
		max-height: $about-footer-img-size;
		border-radius: $about-footer-img-size;  
	}
}
