<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300i,600">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100italic,300italic,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>
<body>
	<nav class="nav">
		<div class="container">
  			<h1 class="logo"> {{ site.title }} </h1>
  			<ul class="navlist">
  				<!-- li> About </li -->
  			</ul>
  		</div>
	</nav>
	{{ content }}
	{% include footer.html %}

</body>

</html>